node_modules/
.env
.env.production
**/.env.production
.netlify/
apps/web/.netlify/edge-functions-dist/
apps/web/.netlify/edge-functions-import-map.json
apps/web/.netlify/plugins/
apps/web/.netlify/internal/db/migrations/
build/
dist/
coverage/
.vscode/
.idea/
out/
.DS_Store
**/.env*.local
.tools/
